In [1]:
import pandas as pd

In [2]:
subs=!ls | grep -E '\.LB' | grep -v '_'

In [18]:
#subs=subs[-2:]
#subs = ['2.088.LB_2.110.LB', '-2.461.LB', '-2.461.LB']
#subs = subs[-2:]
subs = subs[-4:]
subs

['-2.730.LB', '-2.737.LB', '-2.742.LB', '-2.788.LB']

In [25]:
sub_ens = None
sum_of_scores = 0
for s in subs:
    sub = pd.read_csv(s)
    score = float(s.replace('-', '').replace('.LB', '')) -2.5
    print(score)
    sum_of_scores += score
    
    if sub_ens is None:
        sub_ens = sub
        sub_ens['scalar_coupling_constant'] = sub_ens['scalar_coupling_constant'] * score
    else:
        sub_ens['scalar_coupling_constant'] = sub_ens[
            'scalar_coupling_constant'] + sub[
                'scalar_coupling_constant'] * score
print(sub_ens.head())
print(sum_of_scores)

0.22999999999999998
0.2370000000000001
0.242
0.2879999999999998
        id  scalar_coupling_constant
0  4658147                 12.677797
1  4658148                176.462211
2  4658149                  4.987723
3  4658150                178.539000
4  4658151                 13.414127
0.9969999999999999

In [34]:
len(subs)

2

In [26]:
#sub_ens['scalar_coupling_constant'] = sub_ens['scalar_coupling_constant']/len(subs)
sub_ens['scalar_coupling_constant'] = sub_ens['scalar_coupling_constant']/sum_of_scores

In [27]:
sub_ens.head()

        id  scalar_coupling_constant
0  4658147                 12.715944
1  4658148                176.993191
2  4658149                  5.002731
3  4658150                179.076229
4  4658151                 13.454490

In [28]:
sub_fname = '_'.join(subs)
sub_fname=sub_fname.replace('-','')
sub_fname

'2.730.LB_2.737.LB_2.742.LB_2.788.LB'

In [29]:
sub_ens.to_csv(sub_fname, index=False)

In [30]:
comp = 'champs-scalar-coupling'

In [31]:
!ls {sub_fname}

2.730.LB_2.737.LB_2.742.LB_2.788.LB

In [32]:
!kaggle competitions submit -c {comp} -f {sub_fname} -m 'weighted based on score (score -2.5)'

100%|██████████████████████████████████████| 64.1M/64.1M [00:02<00:00, 27.6MB/s]
Successfully submitted to Predicting Molecular Properties

In [33]:
import time
time.sleep(60)
!kaggle competitions submissions -c {comp} -v > submissions-{comp}.csv

In [34]:
submissions = pd.read_csv(f'submissions-{comp}.csv')
submissions.iloc[0].publicScore

'-2.972'

In [49]:
!cat submissions-{comp}.csv

401 - Unauthorized

In [16]:
sub_ens.tail()

                  id  scalar_coupling_constant
2505537  19556857.32                  0.772159
2505538  19556860.05                  4.181407
2505539  19556862.78                  1.886939
2505540  19556865.51                  4.190686
2505541  19556868.24                119.916791

Pseudo-labels

In [80]:
sub_ens.head()

        id  scalar_coupling_constant
0  4658147                 17.039404
1  4658148                185.457992
2  4658149                  7.506137
3  4658150                185.469830
4  4658151                 16.971405

/bin/sh: 1: Syntax error: Unterminated quoted string

In [89]:
sub = pd.read_csv('-2.088.LB')
sub.tail()

              id  scalar_coupling_constant
2505537  7163684                  0.294448
2505538  7163685                  2.926138
2505539  7163686                  2.356122
2505540  7163687                  4.114532
2505541  7163688                119.490150

In [90]:
sub = pd.read_csv('-2.110.LB')
sub.tail()

              id  scalar_coupling_constant
2505537  7163684                  0.675668
2505538  7163685                  3.711402
2505539  7163686                  2.560080
2505540  7163687                  4.861174
2505541  7163688                121.040276

In [91]:
sub = pd.read_csv('1.987.LB_1.994.LB_2.020.LB_2.033.LB_2.039.LB_2.040.LB_2.052.LB_2.057.LB_2.059.LB_2.063.LB_2.088.LB')
sub.tail()

              id  scalar_coupling_constant
2505537  7163684                  0.891090
2505538  7163685                  2.908127
2505539  7163686                  2.307839
2505540  7163687                  4.985399
2505541  7163688                119.766115

In [94]:
!tail structures.csv

dsgdb9nsd_133885,6,C,-0.0573999238,0.6112101834,0.5411015062
dsgdb9nsd_133885,7,C,-0.0959285633,0.3804239493,-0.9720975179
dsgdb9nsd_133885,8,C,0.8166944813,-0.8130667666,-1.022359648
dsgdb9nsd_133885,9,H,-2.090436078,1.327066088,1.263660758
dsgdb9nsd_133885,10,H,-1.44004201,2.287217978,-0.1275429128
dsgdb9nsd_133885,11,H,-1.454004495,-0.9673087774,1.459246448
dsgdb9nsd_133885,12,H,0.2777789004,-2.697872397,0.1957699995
dsgdb9nsd_133885,13,H,2.515854061,-1.151783773,0.5273692559
dsgdb9nsd_133885,14,H,0.0136988019,1.19943057,-1.680192303
dsgdb9nsd_133885,15,H,1.260745327,-1.246753647,-1.906767156

In [53]:
import math
math.log(0.00269)

-5.9182140853683896